body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

/*头像*/
.media-object {
    width: 38px;
    height: 38px;
}

/*问题的描述信息*/
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.forum-menu {
    font-size: 13px;
    color: #999;
}
.jumbotron {
    margin: 30px;
}