body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    margin-bottom: 15px;
}

/*头像*/
.media-object {
    width: 38px;
    height: 38px;
}

/*问题的描述信息*/
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.forum-menu {
    font-size: 13px;
    color: #999;
}
.jumbotron {
    margin: 30px;
}


/*回复部分*/
.textarea-comment {
    margin: 10px 0;
}
.btn-comment {
    float: right;
    margin-bottom: 10px;
}
/*评论的分隔*/
.comment-separate {
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 15px;
    padding-bottom: 10px
}

/*二级评论*/
.sub-comments
{
    border-radius:5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}






.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
}

.menu .icon:hover {
    cursor: pointer;
    color: #c1e2b3;
}


.menu .active {
    color: #499ef3;
}



/*标签*/
.question-tag{
    font-size: 100%;
    font-weight: 500;
}
/*标签上的光标手*/
.hoverTag:hover{
    cursor: pointer;
    color: #ffff00;
}




.public-tag-tab .label-info
{
    margin-right: 10px;
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

/*相关问题*/
.related-question
{
    list-style: none;
}

