/*最外层*/
body {
    background: url("../images/美女.png") 100% 100% fixed;
    height: 100vh;
}

/*第二层*/
.main {
    background-color: white;
    margin: 0 auto 70px;
    border-radius: 5px;
    width: 90%;
    min-height: 90%;
}

.btn-publish {
    margin-bottom: 15px;
}


/*首页*/

/*头像*/
.media-object {
    width: 38px;
    height: 38px;
}

/*问题的描述信息*/
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}


/*个人页面*/
.profile .section {
    margin-top: 15px;
}




/*编辑*/
.forum-menu {
    font-size: 13px;
    color: #999;
}


/*错误信息页面*/
.jumbotron {
    margin: 30px;
}


/*问题详情页面/question*/
/*回复部分*/
.textarea-comment {
    margin: 10px 0;
}

/*相关问题*/
.question-related {
    line-height: 20px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}


.btn-comment {
    float: right;
    margin-bottom: 10px;
}

/*评论的分隔*/
.comment-separate {
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 15px;
    padding-bottom: 10px
}

/*二级评论*/
.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}


.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
}

.menu .icon:hover {
    cursor: pointer;
    color: #c1e2b3;
}

.menu .active {
    color: #499ef3;
}


/*发布页面*/
/*标签*/
.question-tag {
    font-size: 100%;
    font-weight: 500;
    background: #ebf2f7;
    color: #93adc2;
}


/*标签上的光标手*/
.hoverTag:hover {
    cursor: pointer;
    color: #ffff00;
}

/*标签群块*/
.public-tag-tab .label-info {
    margin-right: 10px;
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

/*相关问题*/
.related-question {
    list-style: none;
}

/*发布问题的错误提示*/
.alert-danger {
    margin-top: 8px;
    width: 50%;
    background: bottom;
}


/*回复&评论&发布按钮*/
.btn-success {
    border-radius: 64px;
    background: skyblue;
    border: 0;
}


/*页脚*/
.footer {
    text-align: center;
    font-size: 16px;
    color: white;
    padding: 0 0 15px 0;
}


/*导航条*/
.navbar-default {
    background: space;
    border: 0;

}


/*导航条文字样式*/
.text {
    text-shadow: none;
    color: white !important;
}

/*导航条下拉框*/
.open > a {
    background-color: transparent !important;
    background-image: none !important;
}

/*通知数*/
.badge {
    background-color: white;
    color: black ;
}

/*下拉三角*/
.caret {
    color: white;
}
