<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码农论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/forum.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: navi}"></div>
<!--  发布框以及发布指南  -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="question:${pagination.questions}">
                <div class="media-left">
                    <a href="/">
                        <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <a href="#">
                        <h4 class="media-heading">[[${question.title}]]</h4>
                    </a>
                    <span th:text="${question.description}"></span>
                    <span class="text-desc">[[${question.commentCount}]]个回复 • [[${question.viewCount}]] 次浏览 • [[${#dates.format(question.gmtCreate,'yyyy年-MM月-dd日 HH:mm:ss')}]]</span>
                </div>
            </div><!--提问的问题信息-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page = 1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page = ${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!-- 循环列表，如[1,2,3,4,5]，每次点击某个页码，就会进行一次完整的for循环，然后把当前路径传递的page参数(pagination.page)和每一个页码(page)进行比较，
                    如果当前元素currentPage和page参数相等，则把active属性赋值给这个页码 -->
                    <li th:each="currentPage:${pagination.pages}" th:class="${pagination.page == currentPage} ? 'active' : ''">
                        <a th:href="@{/(page=${currentPage})}">[[${currentPage}]]</a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page = ${pagination.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page = ${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            一、不开心时，做个深呼吸，不过是糟糕的一天而已，又不是糟糕一辈子。
            二、心情就像衣服，脏了就拿去洗洗，晒晒阳光自然就会蔓延开来，阳光那么好何必自寻烦恼。
            三、在这个滥情的年代，一声“亲爱的”充其量也就是个你好，一句“下次请你吃饭”顶多算个谢谢，何必太认真
            四、每个人都会累，没人能为你承担所有的伤悲，人总有那么一段时间要学会自己长大。
            五、生活不是林黛玉，不会因为忧伤而风情万种。
            六、随着年龄的增长，我们愈加发现，或许我们并不是失去了一些人，而是更加懂得到底谁才是最重要的人。
            七、懒于解释，也无谓能否做个好人，活得不尽纯粹，至少要过得干净利落。
            八、天空没有停不了的阴雨，只有放不下的回忆；人生没有过不去的经历，只有走不出的自己。没必要总是埋怨自己，努力了、珍惜了、心安理得就好！
            九、没必要刻意遇见谁，也不急于遇见谁，更不勉强留住谁，一切顺其自然，最好的自己留给值得珍惜的人
        </div><!--一大段文字-->
    </div>
</div>
</body>
</html>