<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>聚码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/forum.css">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<!--<script type="application/javascript">
    $(function() {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    })
</script>-->
<body>
<!--导航条-->
<div th:insert="~{navigation :: navi}"></div>

<!--  发布框以及发布指南  -->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2>
                <span class="glyphicon" aria-hidden="true"></span>
                发现
            </h2>
            <hr>
            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a th:if="${session.user != null && session.user.id != question.creator}" th:href="${'/chat?recId='+question.getCreator()}">
                        <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                    </a>
                    <a th:if="${session.user == null || session.user.id == question.creator}" href="javascript:void(0)">
                        <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{/question/{id}(id = ${question.id})}">
                        <h4 class="media-heading">[[${question.title}]]</h4>
                    </a>
                    <!--<span th:text="${question.description}"></span><br>-->
                    <span class="text-desc">[[${question.commentCount}]]个回复 • [[${question.viewCount}]] 次浏览 • [[${#dates.format(question.gmtCreate,'yyyy年-MM月-dd日 HH:mm:ss')}]]</span>
                </div>
            </div><!--提问的问题信息-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page = 1,search=${search},hotTag=${hotTag})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page = ${pagination.page - 1},search=${search},hotTag=${hotTag})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!-- 循环列表，如[1,2,3,4,5]，每次点击某个页码，就会进行一次完整的for循环，然后把当前路径传递的page参数(pagination.page)和每一个页码(page)进行比较，
                    如果当前元素currentPage和page参数相等，则把active属性赋值给这个页码 -->
                    <li th:each="currentPage:${pagination.pages}"
                        th:class="${pagination.page == currentPage} ? 'active' : ''">
                        <a th:href="@{/(page=${currentPage},search=${search},hotTag=${hotTag})}">[[${currentPage}]]</a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page = ${pagination.page + 1},search=${search},hotTag=${hotTag})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page = ${pagination.totalPage},search=${search},hotTag=${hotTag})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h4 style="margin-top: 25px;">站长微信</h4>
            <img class="img-thumbnail" src="/images/微信和网站首页二维码.png" style="width: 310px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>热门标签</h4>
                <ul class="question-related">
                    <li th:each="hotTag:${hotTags}">
                        <a class="related-question" th:href="@{/(page=1,search=${search},hotTag=${hotTag})}"
                           th:text="${hotTag}">
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--一大段文字-->
    </div>
</div>


<!--页脚-->
<div th:insert="~{footer :: foot}"></div>
</body>
</html>