<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navi">
    <script>
        /**
         * 用来回显用户本地上传的头像
         */
        /*function showAvatar() {
            var imgUrl = document.getElementById("uploadImg").getAttribute("value");
            console.log(imgUrl);
            // 回显的头像对象
            var echoAvatar = document.getElementById("echoAvatar");
            echoAvatar.src = "/" + imgUrl;
        }*/
        // $(function() {
        //     $("#upload").on("click",function () {
        //         uploadImg(this);
        //     });
        // });

        $(function () {
            // 图片回显功能
            $("#avatarForm input[type='file']").change(function () {
                // 把头像表单的文件值属性传给上传表单
                $('#registerModal').modal('hide');
                $('#ulImgModal').modal({});
                // $("#uploadForm input[type='file']").val($("#avatarForm input[type='file']").val());
                var oFReader = new FileReader();
                var file = document.getElementById('uploadInput').files[0];
                oFReader.readAsDataURL(file);
                oFReader.onloadend = function (oFRevent) {
                    var src = oFRevent.target.result;
                    $('#ulAvatar').attr('src', src);
                }
            });
            // 图片回显的功能
            $("#uploadInput2").change(function () {
                var oFReader = new FileReader();
                var file = document.getElementById('uploadInput2').files[0];
                oFReader.readAsDataURL(file);
                oFReader.onloadend = function (oFRevent) {
                    var src = oFRevent.target.result;
                    $('#ulAvatar').attr('src', src);
                }
            });

            // 注册
            $("#registerBtn").click(function () {
                var name = $("#registerForm input[name='name']").val();
                var avatar_url = $("#registerForm input[name='avatar_url']").val();
                var email = $("#registerForm input[name='email']").val();
                var password = $("#registerForm input[name='password']").val();
                var userDTO = {name: name, password: password, email: email, avatar_url: avatar_url};
                var error = $("#registerModal .alert-danger");
                if (!chkRegVld(error, name, password, email)) {
                    return;
                }
                console.log(userDTO);
                $.ajax({
                    type: "post",
                    url: '/login/register',
                    contentType: 'application/json',
                    data: JSON.stringify(userDTO),
                    success: function (resp) {
                        if (resp.code == 200) {
                            // 注册之后还是要用户手动登录
                            console.log(resp.token);
                            localStorage.setItem("token", resp.token);
                            alert(resp.message);
                            $('#registerModal').modal('hide');
                            $('#loginModal').modal('show');
                        } else {
                            // 显现error
                            error.css("display", "");
                            error.text(resp.message);
                        }
                    },
                    datatype: 'json'
                })
            });

            // 登录
            $("#loginBtn").click(function () {
                var name = $("#loginForm input[name='name']").val();
                var password = $("#loginForm input[name='password']").val();
                var userDTO = {'name': name, 'password': password};
                var token = localStorage.getItem("token");
                var error = $("#loginModal .alert-danger");
                // 如果token为null
                if (token === null) {
                    token = "";
                }
                $.ajax({
                    type: "post",
                    url: '/login',
                    contentType: 'application/json',
                    data: JSON.stringify(userDTO),
                    /// 这只有当注册后，才会token,否则传给后端是“null”，这个字符串
                    headers: {"Authorization": token},
                    success: function (resp) {
                        // debugger;
                        // 登录成功
                        if (resp.code == 200) {
                            var token = localStorage.getItem("token");
                            var respToken = resp.token;
                            console.log("传过去的token" + resp.token);
                            // 如果本地缓存中已经有token，那么就说明token没有失效。
                            // 本地缓存中已经有token的情况
                            // 1.已经登陆过，且没有退出登录
                            // 2.刚刚注册成功
                            if (token) {
                                location.reload();
                            }// 如果是token失效后的登录，那么就在header中添加Authorization
                            else {
                                // 请求/user/currentUser接口(这边请求哪个接口都无所谓，主要是要能经过拦截器，执行拦截器中的方法，然后返回传过去的token)
                                // 该接口返回token
                                $.ajax({
                                    type: 'get',
                                    url: '/users/currentUser',
                                    contentType: 'application/json',
                                    headers: {"Authorization": respToken},
                                    success: function (resp) {
                                        // debugger;
                                        // 存入当前用户token
                                        localStorage.setItem("token", resp.token);
                                        location.reload();
                                    },
                                    error: function () {
                                        // debugger;
                                    },
                                    dataType: 'json'
                                });
                            }
                        } else {
                            // 显现error
                            error.css("display", "");
                            error.text(resp.message);
                        }
                    },
                    datatype: 'json'
                })
            });


            // 退出登录
            $("#logout").click(function () {
                var token = localStorage.getItem("token");
                // 如果token为null(这种情况是用第三方登录)
                if (token === null) {
                    token = "";
                }
                $.ajax({
                    type: 'get',
                    url: '/logout',
                    contentType: 'application/json',
                    headers: {Authorization: token},
                    success: function () {
                        if (token) {
                            localStorage.removeItem("token");
                        }
                        location.reload();
                    },
                    dataType: 'json'
                })
            })


        });

        // 注册校验
        function chkRegVld(error, name, password, email) {
            debugger;
            // 如果用户名为空
            if (!name) {
                // 显现错误信息
                error.css("display", "");
                error.text("用户名不能为空");
                return false;
            }
            if (!password) {
                // 显现错误信息
                error.css("display", "");
                error.text("密码不能为空");
                return false;
            }
            var regExp = new RegExp("^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$");
            var test = regExp.test(email);
            // 如果校验失败
            if (!test) {
                // 显现错误信息
                error.css("display", "");
                error.text("您的邮箱格式不合法");
                return false;
            }
            return true;
        }

        // 添加cookie
        var addCookie = function (name, value) {
            document.cookie = name + "=" + value + ";path=/";
        };

        // 图片上传
        uploadImg = function () {
            var uploadForm = document.getElementById("uploadForm");
            var formData;
            debugger;
            // 如果是从注册表单的图片，那么上传表单的input就没有值
            if (!$("#uploadForm input[type='file']").val()) {
                // 那么就把注册表单的图片赋值给formData
                var avatarForm = document.getElementById("avatarForm");
                formData = new FormData(avatarForm);
            }else {
                formData = new FormData(uploadForm);
            }
            debugger;
            $.ajax({
                type: "post",
                url: "/file/upload/avatar",
                contentType: false,
                processData: false,
                data: formData,
                success: function (resp) {
                    debugger;
                    if (resp.success == 1) {
                        var echoAvatar = document.getElementById("echoAvatar");
                        var url = resp.url;
                        echoAvatar.src = url;
                        console.log(url);
                        $("input[name='avatar_url']").val(url);
                        alert(resp.message);
                    } else if (resp.success == 0) {
                        alert(resp.message);
                    } else if (resp.code == 2010) {
                        alert(resp.message);
                    } else {
                        alert(resp.message);
                    }
                    $('#ulImgModal').modal('hide');
                    $('#registerModal').modal('show');
                    // 上传成功后，把上传表单的值清空
                    $("#uploadForm input[type='file']").val("")
                },
                error: function () {
                    alert("上传图片失败，请重试");
                    // 上传失败后，把上传表单的值清空
                    $("#uploadForm input[type='file']").val("")
                },
                dataType: 'json'
            })
        };

        // 当注册modal中的输入框有所改变就把error信息隐藏了
        function hideRegisterError() {
            $("#registerModal .alert-danger").css("display", "none");
        }

        function hideLoginError() {
            $("#loginModal .alert-danger").css("display", "none");
        }

        // 展示登录modal
        function showLoginModal() {
            $('#loginModal').modal('show');
        }

        // 关闭登录modal
        function closeLoginModal() {
            $('#loginModal').modal('hide');
        }


        // 打开注册modal并清除头像上传input的值
        function shwRegModAndRmUlInp() {
            $('#registerModal').modal('show');
            rmUlInpVal();
        }
        // 清除头像上传input的值
        function rmUlInpVal() {
            $("#uploadForm input[type='file']").val("");
        }

    </script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">聚码</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="text-shadow: none;color: lightgoldenrodyellow;" href="/">聚码</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control input-search" placeholder="搜索问题" name="search">
                    </div>
                    <button type="submit" class="btn btn-default btn-search">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish" class="text">发布</a>
                    </li>
                    <li th:if="${session.user != null}">
                        <a href="/profile/replies" style="text-shadow: none;color: white;">通知 <span class="badge"
                                                                                                    th:text="${session.unreadCount}"></span></a>
                    </li>

                    <li th:if="${session.user != null}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="text" th:text="${session.user.name}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li><a href="/profile/histories">浏览历史</a></li>
                            <li><a href="/profile/replies">最新回复</a></li>
                            <li><a >我的私信</a></li>
                            <li><a id="logout" href="javascript:void(0)">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <!-- 登录功能的第一步 -->
                        <a data-toggle="modal" data-target="#loginModal" style="text-shadow: none;color: white;">登录</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- 登录的Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
        <div class="modal-dialog" role="document" style="margin: 100px auto;width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">登录</h4>
                </div>
                <div class="loginForm modal-body">
                    <form id="loginForm" method="post" action="/login">
                        <div class="form-group">
                            <label for="nameInput">昵称
                                <!--<span class="error" th:text="${error}"></span>-->
                            </label>
                            <input oninput="hideLoginError()" type="text" name="name" class="form-control"
                                   id="nameInput" placeholder="name"

                                   autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            <input oninput="hideLoginError()" type="password" name="password" class="form-control"
                                   id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                    </form>
                    <h5>没有账号？
                        <a href="javascript:void(0)" onclick="closeLoginModal()" data-toggle="modal"
                           data-target="#registerModal">点我注册</a>
                    </h5>
                    <h5>
                        <a href="/login/forget">忘记密码</a>
                    </h5>
                    <div class="alert alert-danger"
                         style="display:none;float:left;font-size: 13px;padding: 3px;margin: 0;width: auto;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="loginBtn" type="button" class="btn btn-primary">登录</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
                <div class="modal-body" style="text-align: center;border-top: 1px solid #eee;">
                    <span>第三方登录：</span>
                    <!--<a href="https://github.com/login/oauth/authorize?client_id=7b8e0403167f8fef70f3&redirect_uri=http://localhost:8887/callback/github&scope`=user&state=1"><img
                            src="/images/github.png"></a>-->
                    <a id="githubLink" th:href="@{https://github.com/login/oauth/authorize(client_id=${#httpServletRequest.getServletContext().getAttribute('githubClientId')},redirect_uri=${#httpServletRequest.getServletContext().getAttribute('githubRedirectUri')},scope='user',state=1)}">
                        <img src="/images/github.png">
                    </a>
                    <a th:href="@{https://gitee.com/oauth/authorize(client_id=${#httpServletRequest.getServletContext().getAttribute('giteeClientId')},redirect_uri=${#httpServletRequest.getServletContext().getAttribute('giteeRedirectUri')},response_type='code')}">
                        <img src="/images/gitee.png">
                    </a>
                    <!--<a href="https://gitee.com/oauth/authorize?client_id=88fb5e6efec699811468006728a894de91412a2df7661bea29dc86f35d1979cc&redirect_uri=http://localhost:8887/callback/gitee&response_type=code"><img
                            src="/images/gitee.png"></a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- 注册的Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel2">
        <div class="modal-dialog" role="document" style="margin: 100px auto;width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel2">注册</h4>
                </div>
                <div class="loginForm modal-body">
                    <form id="avatarForm" method="post" enctype="multipart/form-data" action="#">
                        <span style="font-weight: bold;">换头像:</span>
                        <div class="form-group">
                            <label for="uploadInput" class="avatar-box"
                                   style="overflow: hidden;margin: 0; font-size: 0">点我选择头像
                            </label>
                            <!--回显的头像-->
                            <img id="echoAvatar" class="media-object img-circle" src="/images/默认头像.png">
                            <div class="avatar-box">
                                <input name="avatar" type="file" accept="image/png;image/jpg" class="input-file"
                                       id="uploadInput" placeholder="图片地址" autocomplete="off">
                            </div>
                        </div>
                    </form>
                    <form id="registerForm">
                        <input type="hidden" name="avatar_url" value="/images/anonymous.png">
                        <div class="form-group">
                            <label for="regInp">昵称
                                <!--<span class="error" th:text="${error}"></span>-->
                            </label>
                            <input oninput="hideRegisterError()" type="text" name="name" class="form-control"
                                   id="regInp"
                                   placeholder="name"
                                   autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="registerPasswordInput">密码</label>
                            <input oninput="hideRegisterError()" type="password" name="password" class="form-control"
                                   id="registerPasswordInput"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="registerEmailInput">邮箱(请务必检查邮箱是否填写正确)</label>
                            <input oninput="hideRegisterError()" type="email" name="email" class="form-control"
                                   id="registerEmailInput"
                                   placeholder="email">
                        </div>
                    </form>
                    <div class="alert alert-danger"
                         style="display:none;float:left;font-size: 13px;padding: 3px;margin: 0;width: auto;">
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button id="registerBtn" type="button" class="btn btn-primary">注册</button>
                        <button type="button" class="btn btn-default" onclick="showLoginModal()" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 上传头像的Modal -->
    <!-- Modal -->
    <div onclose="rmUlInpVal()" onblur="rmUlInpVal()" class="modal fade" id="ulImgModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel3">
        <div class="modal-dialog" role="document" style="margin: 100px auto;width: 300px">
            <div class="modal-content">
                <div class="modal-header">
                    <button onclick="rmUlInpVal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel3">上传头像</h4>
                </div>
                <div class="modal-body">
                    <form id="uploadForm" method="post" enctype="multipart/form-data" action="#">
                        <div style="position: absolute;top: 12px;left: 26px;">
                            <span style="font-size: 16px;">更换图片：</span>
                        </div>
                        <img id="ulAvatar" class="media-object img-circle"
                             style="margin: auto;width: 90px;height: 90px;" src="/images/anonymous.png">
                        <div class="avatar-box"
                             style="top: 15px;left: 104px;height: 90px;width: 90px;border-radius: 50%;">
                            <input name="avatar" type="file" accept="image/png;image/jpg" class="input-file"
                                   id="uploadInput2" placeholder="图片地址" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="shwRegModAndRmUlInp()"  data-dismiss="modal">
                        取消
                    </button>
                    <button id="upload" class="btn btn-primary" onclick="uploadImg()">上传并保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
