<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 聚码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/forum.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/forum.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>

<script type="text/javascript">
    /**
     * 判断数组中是否含有重复的元素，主要用来判断标签输入框中是否有重复的标签
     * 以数组值为键，持续向一个对象里面加值，如果在加值之前就发现这个属性在对象中已经存在，那么他就是重复的
     * @param arr
     * @returns {boolean}
     */
    function isRepeat(arr) {
        var hash = {};
        for (var i in arr) {
            if (hash[arr[i]])
                return true;
            hash[arr[i]] = true;
        }
        return false;
    }

    /**
     * 入口函数
     */
    $(function () {
        // 追加标签点击事件
        $(".hoverTag").click(function () {
            // 标签输入框中的内容
            var tagText = $("#tag").val();
            // 把标签输入框中的内容以逗号分隔为数组
            var tags = tagText.split(',');
            // 把当前选中的标签加载数组的末尾
            tags.push($(this).text());

            // 原始的判断条件：if (tagText.indexOf($(this).text()) == -1) {
            // 如果标签输入框中没有当前选中的标签（即数组中没有重复的元素）
            if (!isRepeat(tags)) {
                // 如果input里有内容
                if (tagText) {
                    tagText = tagText + ',' + $(this).text();
                } else {
                    tagText = $(this).text();
                }
                $("#tag").val(tagText);
            }
        });
        $("#tag").click(function () {
            var isNone = $("#tagTab").css("display", "none");
            if (isNone) {
                $("#tagTab").css("display", "block");
            }
        });
        $("#closeTags").click(function () {
            $("#tagTab").css("display", "none");
        });
        /**/
        $(".hoverTag").click(function () {
            $(".alert-danger").css("display","none");
        });
        $("input").on('input',function (e) {
            $(".alert-danger").css("display","none");
        });
    })
</script>

<!--接入markdown-->
<script type="text/javascript">
    $(function () {
        var editor = editormd("question-editor", {
            width: "100%",
            height: 350,
            path: "/js/lib/",
            watch: false,
            placeholder: "请输入你的问题~",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/file/upload"
        });
    });
</script>

<div th:insert="~{navigation :: navi}"></div>
<!--  发布框以及发布指南  -->
<div class="container-fluid main">
    <div class="row">
        <!-- 发布框 -->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span class="glyphicon" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <input type="hidden" name="zookeeperToken" th:value="${zookeeperToken}">

                <!--标题输入框-->
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题"
                           th:value="${title}" autocomplete="off">
                </div>

                <!--问题输入框-->
                <div class="form-group" id="question-editor">
                    <label for="description">问题补充</label>
                    <textarea class="form-control" name="description"
                              id="description" cols="30" rows="10" style="display:none" th:text="${description}"
                              autocomplete="off">
                    </textarea>
                </div>

                <!--标签输入框-->
                <div class="form-group">
                    <label for="tag">标签</label>
                    <input type="text" name="tag" class="form-control" id="tag"
                           placeholder="请选择问题的相关标签~~" autocomplete="off" th:value="${tag}">
                </div>

                <!--标签选择-->
                <div id="tagTab" style="display: none;border: 1px solid #AAA;border-radius: 5px;"
                     class="public-tag-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="tabTag,stat:${tags}" th:class="${stat.first ? 'active':''}">
                            <a th:href="${'#'+tabTag.categoryName}" aria-controls="home" role="tab" data-toggle="tab">[[${tabTag.categoryName}]]</a>
                        </li>
                        <input id="closeTags" class="pull-right" type="button" th:value="X"
                               style="color: black;border-radius: 50%"/>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" th:id="${tabTag.categoryName}" th:each="tabTag,stat:${tags}"
                             th:class="${stat.first ? 'active tab-pane': 'tab-pane'}">
                            <span class="label label-info question-tag" th:each="tag:${tabTag.tags}">
                                <span class="glyphicon glyphicon-tags"></span>
                                <span class="hoverTag">[[${tag}]]</span>
                            </span>
                        </div>
                    </div>
                </div>

                <!--错误提示以及发布按钮-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}"
                                 th:if="${error != null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish pull-right" style="margin: 20px 0">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div><!--一大段文字-->
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>